@model IEnumerable<Brio.Models.Project>

@{
    ViewBag.Title = "Документы";
    Layout = "~/Views/Layouts/DefaultLayouts.cshtml";
}

<div class="content-left-bar doks-page">
    <h2 class="right white shadow"><span class="project-title">Документы</span></h2>
    <div class="wrapp">
        <ul>
            @foreach (var p in Model)
            {
                <li>
                    <p class="proj_title dropdown">
                        <span>
                            Проект: @p.Tile
                        </span>
                    </p>
                    <ul>
                        @foreach (var d in p.ProjectDocuments)
                        {
                            <li>
                                @Html.ActionLink(d.DocumentTitle, "Download", new { id = d.ID })
                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="ProjectDocument/Delete/@d.ID" onclick="return confirm('Удалить этот документ?')"><i class="fa fa-times"></i></a>
                                }
                            </li>
                        }
                        @if (!User.IsInRole("Employee"))
                        {
                            <li class="list-none">
                                <p class="add">Добавить файл</p>
                                @using (Html.BeginForm("Add", "ProjectDocument", FormMethod.Post, new { enctype = "multipart/form-data", name = "add" }))
                                {
                                    <p>
                                        @Html.TextBox("Title", "", new { placeholder = "Название" })
                                        @Html.Hidden("ProjectId", p.ID)
                                    </p>
                                    <p>
                                    <p class="upload-wrapp">
                                        <button onclick="return false;" id="upload" class="open-file">Выбрать</button>
                                        @Html.TextBox("files", "", new { type = "file" })
                                        <span class="f-name"></span>
                                    </p>
                                    <script>
                                        (function () {
                                            $("#files").change(function () {
                                                var splittingPath = $(this).val().split('\\');
                                                $(this).next('.f-name').text(splittingPath[splittingPath.length - 1]);
                                            });
                                        })();

                                    </script>
                                    </p>
                                    <button type="submit">
                                        <h2 class="right creat-title"><span>Добавить</span></h2>
                                    </button>
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>

