@model IEnumerable<Brio.Models.Review>

@{
    ViewBag.Title = "ОТЗЫВЫ";
    Layout = "~/Views/Layouts/LayoutDefault.cshtml";
}

@section styles{
    <style>
        figure.banner {
            background: url('../Content/images/banner3.jpg') no-repeat 0 0;
            background-size: cover;
        }

            figure.banner figcaption {
                background: url('../Content/images/banner_topsheet_feed.png') no-repeat 0 0;
                background-size: contain;
            }
    </style>
}

<figure class="banner">
    <figcaption></figcaption>
</figure>

<div class="content relative">
    <h1>@ViewBag.Title</h1>
    <div class="reviews ovrflow-x-400px">
        @if (User.Identity.IsAuthenticated)
        {
        <div class="add admin-buttons">@Html.ActionLink("Добавить запись", "Add", "Review", null, null)</div>
        }
        @foreach (var item in Model)
        {
            <article class="relative">
                <div class="title">@item.Title</div>
                <p>
                    @item.ReviewMessage
                </p>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="admin-buttons">
                        <a href="/Review/Edit/@item.ID"><i class=" fa fa-pencil-square-o"></i></a>
                        <a class="delete" href="" data-reviewid="@item.ID"><i class="fa fa-times"></i></a>
                    </div>
                }
            </article>
        }
        @if (Model.Count() == 0)
        {
            <div class="warning-msg-container">На данный момент отзывов нет</div>
        }
    </div>
</div>

<script>

</script>
