@model Brio.Models.Article

@{
    ViewBag.Title = "ОТДЕЛ ЭКСПЕРТИЗ И УПРАВЛЕНИЕ ПРОЕКТАМИ";
    Layout = "~/Views/Layouts/LayoutDefault.cshtml";
}

@section Styles{
    <style>
        figure.banner {
            background: url('../Content/images/banner1.jpg') no-repeat 0 0;
            background-size: cover;
        }
    </style>
}

<figure class="banner">
</figure>

<div class="content relative">
    <h1>@ViewBag.Title</h1>
    <div class="reviews">
        @if (User.Identity.IsAuthenticated)
        {
        <div class="add admin-buttons">@Html.ActionLink("Изменить", "EditExaminingDivisionPage")</div>
        }
            <article class="relative">
                <div class="title">@Model.Title</div>
                <p>
                    @Html.Raw(HttpUtility.HtmlDecode(@Model.Text))
                </p>
            </article>
    </div>
</div>